*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, pink 0%, purple 100%);

}
.container{
    max-width: 600px;
    background: #fff;
    width: 600px;
    padding: 20px;
    box-shadow: 0 2px 2px 3px rgb(0, 0,0, 1);
    justify-content: space-around;
}
.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vt;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 3px solid #e4e1e1;
}
.add{
    text-decoration: none;
    display: inline-flex;
    width: 30px;
    height: 30px;
    background: purple;
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
}
.wrapping{
    display: flex;
    gap:1.5em;
    margin-bottom: 15px;
}
.del{
    text-decoration: none;
    display: inline-flex;
    background: red;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 20px;
    height: 25px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
input{
    padding: 8px 10px;
    background: #afa9a9;
    border: 3px solid antiquewhite;
    width: 40%;
    border-radius: 5px;
    margin-left: 10px;
}
input:focus{
    outline: 1px solid #efefef;
}